<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJjWJHU5jIBoweblnbAKBWCFrR7bQxZ4E</string>
	<key>GCM_SENDER_ID</key>
	<string>635618605208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kankardesi.ios</string>
	<key>PROJECT_ID</key>
	<string>kan-kardesi</string>
	<key>STORAGE_BUCKET</key>
	<string>kan-kardesi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635618605208:ios:f6d966cb2cbb684cda78ed</string>
</dict>
</plist>